<!DOCTYPE html>
<html>
  <head>
    <title>Hello Connection</title>
   
   <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

	  <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
   
   </script>
    <link href="//static0.twilio.com/resources/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    
	
	<script type="text/javascript">
      /* Create the Client with a Capability Token */
    Twilio.Device.setup("<%= token %>", {debug: true});
 
    /* Let us know when the client is ready. */
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });
 
    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });
 
    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });
 
    /* Connect to Twilio when we call this function. */
    function call() {
        Twilio.Device.connect();
    }
    </script>


<script type="text/javascript">
Twilio.Device.incoming(function(connection) {
if (confirm('Accept incoming call from ' + connection.parameters.From + '?')){
            connection.accept();
        } else {
            connection.reject();}
    });
</script>
	
<script type="text/javascript">
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
</script>

		
  </head>
  <body>

	
<button class="call" onclick="call();">
      Call
</button>
	
<button class="hangup" onclick="hangup();">Hangup</button>
<script type="text/javascript">     function hangup() {  Twilio.Device.disconnectAll();}
</script>
 
<input type="text" id="number" name="number" placeholder="Enter a phone number to call"/>
	<script type="text/javascript">
     function call() { params = {"tocall": $("#number").val()}; 
        Twilio.Device.connect(params); }
	</script>
  
  
    <div id="log">Loading...</div>
  </body>
</html>